{% extends 'layout.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}

	<div class="mt-4 shadow rounded-2 mr-0 p-4" style="width: 500px">
		<h1>Register</h1>

		{{ form_start(registrationForm) }}
		<div class="row">
			<div class="col-12 mb-3">
				{{ form_row(registrationForm.username) }}
			</div>
		</div>
		<div class="row">
			<div class="col-12 mb-3">
				{{ form_row(registrationForm.email) }}
			</div>
		</div>
		<div class="row">
			<div class="col-12 mb-3">
				{{ form_row(registrationForm.plainPassword) }}
			</div>
		</div>
		<div class="row">
			<div class="col-12 mb-3">
				{{ form_row(registrationForm.option) }}
			</div>
		</div>

		<button type="submit" class="btn btn-primary">Register</button>
		{{ form_end(registrationForm) }}

	</div>
{% endblock %}
