{% extends 'base.html.twig' %}

{% block title %}Notification
{% endblock %}

{% block body %}
	<p class="fs-3 mb-4" style="margin-top: -30px">Détails de la
		<b>Notification</b>
	</p>

	<div class="shadow-sm p-3">
		<table class="table" style="font-size: .9em">
			<tbody>
				<tr>
					<th>Nom du projet</th>
					<td>{{ projet.nom  }}</td>
				</tr>
				<tr>
					<th>Nom de la tache</th>
					<td>{{ nomTache }}</td>
				</tr>
				<tr>
					<th>Nom du développeur qui a terminé la tache</th>
					<td>{{ userTermine }}</td>
				</tr>
				<tr>
					<th>Date auqel le développeur a terminé la tache</th>
					<td>{{ dateTerminer|date('H:i d/m/Y') }}</td>
				</tr>
				<tr>
					<th>Titre</th>
					<td>{{ notification.titre }}</td>
				</tr>
				<tr>
					<th>Statut</th>
					<td>{{ notification.etat }}</td>
				</tr>
			</tbody>
		</table>

		<div class="mb-3">
			{{ include('notification/_delete_form.html.twig') }}
		</div>

		<a href="{{ path('app_notification_index') }}" class="position-relative" style="font-size: .9em; text-decoration: none; left: 2px">
			<i class="bi bi-arrow-left-circle position-relative" style="top: -3px"></i>
			Revenir à la liste
		</a>
	</div>
{% endblock %}
