{% extends 'base.html.twig' %}

{% block title %}Tache index
{% endblock %}

{% block body %}

	{% for key, messages in app.flashes() %}
		{% for message in messages %}
			<div class="alert alert-danger">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}

	<p class="fs-3 mb-4" style="margin-top: -30px">Liste des
		<b>Taches</b>
	</p>

	{# recherche par utilisateur #}
	<div class="row position-relative" style="left: -16px">
		{% if not is_granted('ROLE_PORTEUR_PROJET') %}
			<div class="col-4 mt-2 mb-3">
				{{ form_start(form1) }}
				<div class="form-row">
					{{ form_row(form1.user) }}
				</div>
				{{ form_end(form1) }}
			</div>
		{% endif %}

		{# Recherche par statut #}
		<div class="col-4 mt-2 mb-3">
			{{ form_start(form2) }}
			<div class="form-row">
				{{ form_row(form2.statut) }}
			</div>
			{{ form_end(form2) }}
		</div>
	</div>

	<div class="shadow p-3 mb-4">
		<div class="d-flex justify-content-between">
			<div class="">
				{% if not is_granted('ROLE_PORTEUR_PROJET') %}
					<a href="{{ path('app_tache_new') }}" class="btn btn-info mb-3 px-4" style="font-size: .9em">
						<span>
							<i class="bi bi-plus-circle position-relative" style="top: -3px"></i>
							Nouvelle tache
						</span>
					</a>
				{% endif %}
			</div>

			<div class="mb-3 position-relative" style="right: 13px">
				{{ form_start(formLimite) }}
				<div class="row">
					<div class="col-md-9">
						{{ form_row(formLimite.nombre) }}
					</div>
					<div class="col-md-3">
						{{ form_widget(formLimite.submit, {'attr': {'style': 'font-size: .9em;', 'class': 'btn btn-secondary px-4'}}) }}
					</div>
				</div>
				{{ form_end(formLimite) }}
			</div>
		</div>

		<table class="table table-bordered" style="font-size: .9em">
			<thead class="bg-light">
				<tr>
					<th>Ref</th>
					<th>Nom</th>
					<th>Catégorie</th>
					<th>statut</th>
					<th>Developpeur</th>
					<th>Date échéance</th>
					{% if not is_granted('ROLE_PORTEUR_PROJET') %}
						<th>Date échéance développeur</th>
					{% endif %}
					<th>Durée</th>

					{% if not is_granted('ROLE_PORTEUR_PROJET') %}
						<th>actions</th>
					{% endif %}
				</tr>
			</thead>
			<tbody>
				{% for tache in taches %}
					{% if tache.statut.etat == "En cours" %}
						{% include 'tache/ligne_tache.html.twig' with {'class': 'table-warning'}  %}
					{% elseif tache.statut.etat == "Terminé" %}
						{% include 'tache/ligne_tache.html.twig' with {'class': 'table-success'}   %}
					{% elseif tache.statut.etat == "Démarré" %}
						{% include 'tache/ligne_tache.html.twig' with {'class': 'table-info'}  %}
					{% else %}
						{% include 'tache/ligne_tache.html.twig' with {'class': 'table-danger'}  %}
					{% endif %}
				{% else %}
					<tr>
						<td colspan="8">Aucun</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		{# PAGINATION #}
		{% if pagination_links|length > 1%}
			<nav aria-label="Page navigation d-flex justify-content-end">
				<ul
					class="pagination">
					{# liens #}
					{% for link in pagination_links %}
						<li class="page-item{% if link.active %} active{% endif %}">
							<a class="page-link" href="{{ link.url }}">{{ link.label }}</a>
						</li>
					{% endfor %}
				</ul>
			</nav>
		{% endif %}
		{# END PAGINATION #}
	</div>

{% endblock %}
