<tr class={{ class }}>
	<td>TCH{{ tache.id }}</td>
	<td>{{ tache.nom }}</td>

	{% if tache.categorie != null %}
		<td>{{ tache.categorie.nom }}</td>
	{% else %}
		<td></td>
	{% endif %}

	<td>{{ tache.statut.etat }}</td>
	<td>{{ tache.developpeur.username }}</td>
	<td>{{ tache.dateEchChef ? tache.dateEchChef|date('H:i d/m/Y') : '' }}</td>

	{% if not is_granted('ROLE_PORTEUR_PROJET') %}
		<td>{{ tache.dateEchUser ? tache.dateEchUser|date('H:i d/m/Y') : '' }}</td>
	{% endif %}

	<td>{{ tache.duration }}</td>

	{% if not is_granted('ROLE_PORTEUR_PROJET') %}
		<td>
			<div class="position-relative" style="top: -10px">
				<a href="{{ path('app_tache_show', {'id': tache.id}) }}" title="Afficher" class="fs-5 bi-eye me-2" style="color: black"></a>
				<a href="{{ path('app_tache_edit', {'id': tache.id}) }}" title="Modifier" class="fs-5 bi-pencil-square" style="color: orange"></a>
			</div>
		</td>
	{% endif %}
</tr>
