{{ form_start(form) }}
<div class="col-md-5 mb-3">
	{{ form_row(form.titre) }}
</div>
<div class="col-md-5">
	{{ form_row(form.projet) }}
</div>

<button class="btn btn-primary px-4 mt-4 mb-4" style="font-size: .9em">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
