{% extends 'base.html.twig' %}

{% block title %}Ticket index
{% endblock %}

{% block body %}
	<p class="fs-3 mb-5" style="margin-top: -30px">Liste des
		<b>Tickets</b>
	</p>

	{# filtre #}
	<div class="d-flex mb-4 justify-content-between">
		<div class="w-75 position-relative" style="left: -3px">
			{{ form_start(form1, {'attr': {'class': 'form-inline'}}) }}
			<div class="row">
				<div class="col-6">
					{{ form_row(form1.filter) }}
				</div>
				<div class="col-6">
					{{ form_widget(form1.submit, {'attr': {'style': 'font-size: .9em;', 'class': 'btn btn-secondary px-4'}}) }}
				</div>
			</div>
			{{ form_end(form1) }}
		</div>

		{% if is_granted('ROLE_PORTEUR_PROJET') or is_granted('ROLE_SUPER_ADMIN') %}
			<div>
				<a href="{{ path('app_ticket_new') }}" class="btn btn-info mb-0 px-4 position-relative" style="font-size: .9em; right: 18px">
					<i class="bi bi-plus-circle position-relative" style="top: -2px"></i>
					Nouveau Ticket
				</a>
			</div>
		{% endif %}
	</div>

	<div class="shadow-sm p-3 rounded-1">
		<table class="table table-bordered align-middle" style="font-size: .9em">
			<thead class="bg-light">
				<tr>
					<th>Titre</th>
					<th>Créer le</th>
					<th>Statut</th>
					<th>Projet concerné</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for ticket in tickets %}
					<tr>
						<td>
							{{ ticket.titre }}
						</td>
						<td>
							{{ ticket.createdAt ? ticket.createdAt|date('H:i d/m/y') : '' }}
						</td>
						<td class="{% if ticket.etat == 'Vu' %}text-success{% else %}text-primary{% endif %}">
							{{ ticket.etat }}
						</td>
						{% if ticket.projet != null %}
							<td>
								{{ ticket.projet.nom }}
							</td>
						{% else %}
							<td></td>
						{% endif %}
						<td>
							{% if is_granted('ROLE_MANAGER') %}
								<a href="{{ path('app_ticket_show', {'id': ticket.id}) }}" class="btn btn-light  px-4 me-2" style="font-size: .9em">
									<i class="bi bi-card-checklist position-relative me-2" style="top: -2px"></i>Détails</a>
								{% if ticket.tache is null %}
									<a href="{{ path('app_ticket_taches', {'id': ticket.id}) }}" class="btn btn-secondary px-4" style="font-size: .9em">Créer une tache</a>
								{% endif %}

								{% if ticket.tache is not null %}
									<a href="{{ path('app_tache_show', {'id': ticket.tache.id}) }}" class="btn btn-warning px-4" style="font-size: .9em">Voir la tache</a>
								{% endif %}
							{% endif %}

							{% if is_granted('ROLE_PORTEUR_PROJET') %}
								<a href="{{ path('app_ticket_edit', {'id': ticket.id}) }}" class="btn btn-secondary px-4" style="font-size: .9em">
									<i class="bi bi-pencil-square position-relative" style="top: -3px"></i>
									Modifier
								</a>
							{% endif %}
						</td>
					</tr>
				</td>
			</tbody>
		</tr>
	{% else %}
		<tr>
			<td colspan="4">Aucun ticket</td>
		</tr>
	{% endfor %}
{% endblock %}
