{% extends 'base.html.twig' %}

{% block title %}Categorie
{% endblock %}

{% block body %}
	<p class="fs-3 mb-3 ms-2" style="margin-top: -30px">Afficher /
		<b>Catégorie</b>
	</p>

	<div class="shadow-sm p-3">
		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ categorie.id }}</td>
				</tr>
				<tr>
					<th>Nom</th>
					<td>{{ categorie.nom }}</td>
				</tr>
			</tbody>
		</table>

		<div class="d-flex">
			<div class="mb-3">
				<a href="{{ path('app_categorie_edit', {'id': categorie.id}) }}" class="btn btn-secondary px-4 me-4" style="font-size: .9em">Modifier</a>
			</div>
			<div class="mb-3">
				{{ include('categorie/_delete_form.html.twig') }}
			</div>
		</div>

		<a href="{{ path('app_categorie_index') }}" class="position-relative" style="font-size: .9em; text-decoration: none; left: 5px">
			<i class="bi bi-arrow-left-circle position-relative" style="top: -3px"></i>
			Revenir à la liste
		</a>
	</div>
{% endblock %}
