{% extends 'base.html.twig' %}

{% block title %}Changer mot de passe
{% endblock %}

{% block body %}
	<h1>Modifier le mot de passe</h1>

	<div class="row">
		{{ form_start(form) }}
		<div class="col-md-6 mb-3">
			{% if app.session.flashbag.has('error') %}
				<div class="alert alert-danger">
					{% for message in app.flashes('error') %}
						{{ message }}
					{% endfor %}
				</div>
			{% endif %}
		</div>
		<div class="col-md-6">
			{{ form_row(form.oldPassword) }}
		</div>
		<div class="col-md-6">
			{{ form_row(form.newPassword) }}
		</div>
		<div class="col-md-6">
			{{ form_row(form.submit) }}
		</div>
		{{ form_end(form) }}
	</div>
{% endblock %}
