{% extends 'base.html.twig' %}

{% block title %}User
{% endblock %}

{% block body %}

	{% if app.session.flashbag.has('success') %}
		<div class="alert alert-success">
			{% for message in app.flashes('success') %}
				{{ message }}
			{% endfor %}
		</div>
	{% endif %}


	<h1>{{ user.username }}</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Username</th>
				<td>{{ user.username }}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>
					{% if user.email != null %}
						{{ user.email }}
					{% else %}
						Vide
					{% endif %}
				</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_user_show', {'id': app.user.id}) }}" class="btn btn-light">Revenir à mon profil</a>

	<a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-primary">Modifier</a>

	<a href="{{ path('change_password', {'id': user.id}) }}" class="btn btn-secondary">Modifier mon mot de passe</a>

	{# {{ include('user/_delete_form.html.twig') }} #}
{% endblock %}
